.cf-form{
    display: flex;
    flex-direction: column;
    height: 125px;
}

.cf-top{
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.cf-bottom{
    display: flex;
    padding-top: 21px;
}

.cf-proimg{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: none;
}


.cf-commentslength{
    font-family: Roboto, Arial, sans-serif;
    color: #030303;
    font-size: 16px;
}


.cf-sortbtn{
    border: none;
    background: none;
    cursor: pointer;
    color: #030303;
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 450;
    padding-left: 20px;
}

.cf-sortimg{
    width: 18px;
}

.cf-sortbytxt{
    padding-left: 12px;
}

.cf-info{
    padding-left: 20px;
    width: 1220px;
}

.cf-input{
    width: 1210px;
}

.cf-input-text{
    border: none;
    background: none;
    outline: none;
    width: inherit;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #030303;
    border-bottom: 1px solid rgb(224, 224, 224);
    transition: linear 0.15s;
    height: 30px;
    
}

.cf-input-text:focus {
    border-bottom: 2px solid #030303;
    color: #030303;
}


.cf-input-text::placeholder{
    font-family: Roboto, Arial, sans-serif;
    color: #606060;
    font-size: 14px;
}

.cf-submit{
    visibility: hidden;
    float: right;
}

.cf-btncancel{
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(96,96,96);
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 450;
    width: 90px;
    height: 60px;
    padding-right: 80px;
}

.cf-btncomment{
    background: none;
    border: none;
    cursor: pointer;
    background-color: rgb(236, 236, 236);
    width: 105px;
    height: 35px;
    padding-right: 80px;
    color: #929490;
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
    border-radius: 2px;
    font-weight: 450;
    padding: 0;
    
}

