.headersLogin{
    font-size: 15px;
    color: black;
    font-weight: 100;
    margin-bottom: 50px;
    font-family: "Roboto", sans-serif;
    align-items: center;
    margin: auto;
    width: 50%;
}

.headersLogin h3{
    display: flex;
    justify-content: center;
}

.headersLogin h2{
    display: flex;
    justify-content: center;
}