.headersLogin{
    // font-size: 30px;
    color: black;
    font-weight: 100;
    margin-bottom: 50px;
    font-family: "Roboto", sans-serif;
    align-items: center;
    margin: auto;
    width: 50%;
}

.letters{
    margin-bottom: 20px;
    font-weight: 300;
}

.headersLogin h3{
    font-size: 15px;
    display: flex;
    justify-content: center;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 40px;
}

.headersLogin h2{
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 23px;
}


.forgotPass{
    color: #1A73E8;;
    cursor: pointer;
    font-size: 15px;
    font-weight: 300;
}

.forgotPass:hover{
    color: #1456ad;
}