
@font-face {
    font-family: youtube;
    src: url(../fontss/youtube-sans-bold.ttf);
}

.sb-burger{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    // background-color: red;
    // z-index: 6;
    padding-bottom: 10px;
}

// .sb-burgerimg{
//     z-index: 7;
//     position: relative;
// }

.ourLogo{
    padding-left: 6px;
    display: flex;
    // background-color: green;
    align-items: center;
    padding-right: 40px;
    // position: absolute;
    // z-index: 6;
    padding-top: 8px;
}

.nav-ourtubetext{
    font-family: youtube, sans-serif;
    font-size: 18px;
    color: black;
    background: none;
    border: none;
    text-decoration: none;
    // background-color: green;
}
.nav-ourtubepic{
    height: 21px;
    width: 89px;
    margin-right: 10px;
}

.signinpic{
    height: 50px;
}

.propicbtn{
    background: none;
    border: none;
    cursor: pointer;
}

.profilepicc{
    height: 40px;
    padding-right: 3px;
}

.navs{
    z-index: 3;
    position: sticky;
    background-color: white;
    // background-color: green;
    top: 0;
    border-bottom: 1px solid rgb(222, 222, 222);
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-left: 70px;
    // margin-right: 20px;
    
}

.display{
    display: flex;
    justify-content: space-between;
    padding-right: 23px;
}

.searchbar::placeholder{
    font-size: 16px;
    color: rgb(130, 130, 130)
    // padding-left: 8px;
    // width: 70px;
    // margin-left: 10px;
    // background-color: green;
}

.navsearchbar{
    // padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    // padding-right: 1px;
    font-family: 'Roboto', sans-serif;
}

.searchglass{
    border-radius: 3px;
    outline: none;
    border: 1px solid rgb(200, 200, 200);
    height: 37px;
    width: 63px;
    background-color: rgb(249, 249, 249);
    margin-bottom: 8px;
}

.searchglassbtn{
    margin-top: 7px;
    margin-left: 20px;
}

.searchbar{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 8px;
    border-radius: 1px;
    font-size: 16px;
    width: 570px;
    height: 35px;
    outline: none;
    border: 1px solid rgb(200, 200, 200);
    text-indent: 8px;
}

.searchbar:focus {
    border: 1px solid #1A73E8;
    outline: none;
    // background-color: green;
}

.micbtn{
    background: none;
    border: none;
    // margin-top: 10px;
}


.uploadbtn{
    background: none;
    border: none;
}

.navgithub{
    margin-top: 10px;
    padding-right: 15px;
}

.navlinkedin{
    margin-top: 10px;
    padding-right: 15px;
}

.navupload{
    margin-top: 10px;
    padding-right: 15px;
}


