

.pic{
    height: 20px;
}

.signinpic{
    height: 40px;
}

.profilepicc{
    height: 30px;
}

.navs{
    // display: flex;
    // justify-content: space-between;
}

.searchbar{
    width: 500px;
    height: 28px;
}