
@font-face {
    font-family: youtube;
    src: url(../fontss/youtube-sans-bold.ttf);
}

.sb-burger{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    padding-bottom: 10px;
}


.ourLogo{
    padding-left: 6px;
    display: flex;
    align-items: center;
    padding-right: 40px;
    padding-top: 8px;
}

.nav-ourtubetext{
    font-family: youtube, sans-serif;
    font-size: 18px;
    color: black;
    background: none;
    border: none;
    text-decoration: none;
}
.nav-ourtubepic{
    height: 21px;
    width: 89px;
    margin-right: 10px;
}

.signinpic{
    height: 50px;
}

.propicbtn{
    background: none;
    border: none;
    cursor: pointer;
}

.profilepicc{
    height: 40px;
    padding-right: 3px;
}

.navs{
    z-index: 3;
    position: sticky;
    background-color: white;
    top: 0;
    border-bottom: 1px solid rgb(229, 229, 229);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navsshow{
    z-index: 3;
    position: sticky;
    background-color: white;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display{
    display: flex;
    justify-content: space-between;
    padding-right: 23px;
}

.searchbar::placeholder{
    font-size: 16px;
    color: rgb(130, 130, 130)
}

.navsearchbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    font-family: 'Roboto', sans-serif;
}

.searchglass{
    border-radius: 3px;
    outline: none;
    border: 1px solid rgb(200, 200, 200);
    height: 37px;
    width: 63px;
    background-color: rgb(249, 249, 249);
    margin-bottom: 8px;
}

.searchglassbtn{
    margin-top: 7px;
    margin-left: 20px;
}

.searchbar{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 8px;
    border-radius: 1px;
    font-size: 16px;
    width: 570px;
    height: 35px;
    outline: none;
    border: 1px solid rgb(200, 200, 200);
    text-indent: 8px;
}

.searchbar:focus {
    border: 1px solid #1A73E8;
    outline: none;
}

.micbtn{
    background: none;
    border: none;
    cursor: pointer;
}


.uploadbtn{
    background: none;
    border: none;
    
}

.navgithub{
    margin-top: 10px;
    padding-right: 15px;
}

.navlinkedin{
    margin-top: 10px;
    padding-right: 15px;
}

.navupload{
    margin-top: 10px;
    padding-right: 15px;
}



