.vs-videos{
    display: block;
    float: right;
}

.video-show{
    background-color: rgb(249, 249, 249);
    //width: 100%;
}

.vs-bottom{
    display: flex;
    //width: 67.5vw;
}

.vs-videocolumn{
    padding-left: 105px;
    width: 67.5vw;
}
