.vw-src{
    // width: 100%;
    width: 1320px;
    height: 742px;
    // margin-left: 5%;
    background-color: green;
}

.vw-main{
    width: 1320px;
    height: 742px;
    padding-top: 24px;
    // background-color: orange;
    padding-left: 105px;
}