


.vc-eachvideo{
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 150px;
    background-color: rgb(248, 248, 248);
    height: 85px;
    width: 380px;
    padding-top: 23px;
}


.vc-duration{
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 500;
    position: absolute;
    background-color: rgba(0, 0, 0, .55);
    color: white;
    z-index: 1;
    right: 5px;
    bottom: 8px;
    padding: 3px 5px;
    border-radius: 2px;
    font-size: 12px;
    margin-right: 5px;
}

.vc-thumbnail{
    position: relative;
    display: flex;
}

.vc-videos{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.vc-thumbnailbtn{
    background: none;
    border: none;
}


.vc-thumbnailpic{
    height: 95px;
    width: 165px;
    cursor: pointer;
}

.vc-viddetails{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-decoration-style: none;
}

.vc-link{
    text-decoration: none;
    display: flex;
    width: 380px;
}

.vc-title{
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
    color: #030303;
    font-weight: 500;
    line-height: 20px;
    padding-top: 3px;
}

.vc-username{
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #606060;
}

.vc-data{
    color: #606060;
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
    padding-top: 6px;
}