
.vidx-background{
    background-color: rgb(249, 249, 249);
    height: 1200px;
}



.vidx-eachvideo{
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 360px 360px 360px 360px 360px;
    background-color: rgb(249, 249, 249);
    padding-left: 83px;
    padding-top: 22px;
    height: 1040px;
}


.vidx-background-search{
    background-color: rgb(249, 249, 249);
    height: 1200px;
    position: relative;
}

.vidx-eachvideo-search{
    font-family: 'Roboto', sans-serif;
    display: grid;
    position: absolute;
    left: 40%;
    grid-template-columns: 360px;
    background-color: rgb(249, 249, 249);
    //padding-left: 83px;
    padding-top: 22px;
    height: 1040px;
}




.vi-link{
    text-decoration: none;
    cursor: pointer;
}

.vi-videos{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    
}

.vi-thumbnail{
    position: relative;
    display: flex;
}

.vi-duration{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    position: absolute;
    background-color: rgba(0, 0, 0, .55);
    color: white;
    z-index: 1;
    right: 5px;
    bottom: 8px;
    padding: 3px 5px;
    border-radius: 2px;
    font-size: 12px;
    margin-right: 10px;

}

.vi-profilepicbtn{
    background: none;
    border: none;
    height: 43px;
    width: 43px;
}

.vi-profilepic{
    padding-top: 5px;
    border-radius: 50%;
    width: 43px;
    height: 43px;
    object-fit: none;
    cursor: pointer;
}

.vi-thumbnailbtn{
    background: none;
    border: none;
}

.vi-thumbnailpic{
    padding-left: 2px;
    height: 202px;
    width: 344px;
    cursor: pointer;
}

.vi-viddetails{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    width: 268px;
}

.vi-title{
    line-height: 22px;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    padding-top: 6px;
}

.vi-videobottom{
    display: flex;
}

.vi-username{
    margin-top: 9px;
    text-decoration: none;
    color: rgb(107, 107, 107);
    transition: color 200ms;
    font-size: 14px;
}

.vi-verified{
    display: inline;
    align-items: center;
    justify-content: center;
}

.vi-username:hover{
    color: #111;
    cursor: pointer;
}

.vi-data{
    color: rgb(107, 107, 107);
    margin-top: 6px;
    font-size: 14px;
}



