.vw-src{
    // width: 100%;
    width: 1280px;
    height: 720px;
    // margin-left: 5%;
    // background-color: green;
}

.vw-main{
    width: 1280px;
    height: 720px;
    padding-top: 24px;
    // background-color: orange;
    // padding-left: 105px;
}