.vs-videos{
    display: block;
    float: right;
    width: 10vw;
}

.video-show{
    background-color: rgb(249, 249, 249);
    //width: 100%;
}

.vs-bottom{
    display: flex;
    //width: 67.5vw;
}

.vs-videocolumn{
    padding-left: 85px;
    width: 67.5vw;
}

